<gtag />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/assets/styles/home.css" />
<link rel='stylesheet' href='/assets/styles/master.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>{{title}}</title>
<script src = "/assets/scripts/navigation.js"></script>


{% if (ads == "true") %}
<script async src="https://ss.mrmnd.com/banner.js"></script>
<script src="/assets/scripts/adblockdetect.js"></script>
<link href="/assets/styles/a.css" rel="stylesheet"/>
<script>
    window.onload = () => {
        // Create the enabledEl element
        var enabledEl = document.createElement('div');
        enabledEl.classList.add('adb-enabled');
        enabledEl.innerHTML = `
        <div class="adb-enabled-overlay">
            <div class="adb-enabled-content">
                <h2>Ad blocker detected</h2>
                <p>Please disable your AdBlock to continue.</p>
                <button class="adb-continue-btn">Continue without supporting (10s)</button>
            </div>
        </div>
    `;
        enabledEl.style.display = "none";
        // Add the element to the body
        document.body.appendChild(enabledEl);

        // Adblock detection logic
        function adBlockDetected() {
            var ax = false;
            enabledEl.style.display = 'block';

            // Adblock delay countdown
            var countdownEl = enabledEl.querySelector('.adb-continue-btn');
            var countdown = 10;
            var countdownInterval = setInterval(function () {
                countdown--;
                countdownEl.textContent = `Continue without supporting (${countdown}s)`;
                if (countdown === 0) {
                    clearInterval(countdownInterval);
                    countdownEl.textContent = 'Continue without supporting';
                }
            }, 1000);
            countdownEl.addEventListener("click",(e)=>{
                if(countdown == 0){
                    ax = true;
                    enabledEl.style.display = "none";
                }
            })

            // Check if the element still exists every 750ms
            var checkInterval = setInterval(function () {
                if (!document.body.contains(enabledEl)) {
                    clearInterval(checkInterval);
                    createEnabldeEl();
                }
            }, 750);
        }

        function adBlockNotDetected() {
            enabledEl.style.display = 'none';
        }

        function createEnabldeEl() {
            // Recreate the enabledEl element
            enabledEl = document.createElement('div');
            enabledEl.classList.add('adb-enabled');
            enabledEl.innerHTML = `
            <div class="adb-enabled-overlay">
                <div class="adb-enabled-content">
                    <h2>Ad blocker detected</h2>
                    <p>Please disable your AdBlock to continue.</p>
                    <button class="adb-continue-btn">Continue without supporting (10s) -></button>
                </div>
            </div>
        `;
            document.body.appendChild(enabledEl);
        }
        if (typeof window.adblockDetector === 'undefined') {
            adBlockDetected();
        } else {
            window.adblockDetector.init(
                {
                    debug: true,
                    found: adBlockDetected,
                    notFound: adBlockNotDetected
                }
            );
        }
    }
    window.adsEnabled = true;
</script>
{% else %}
<script>
    window.adsEnabled = false;
</script>
{% endif %}