<!-- supabase -->
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script>
  window.ccPorted = {
    version: "326.2024-12-16T00:33:52.511Z",
    ...(window.ccPorted || {})
  };
  try {
    const SUPABASE_URL = "https://dahljrdecyiwfjgklnvz.supabase.co";
    const SUPABASE_ANON_KEY =
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRhaGxqcmRlY3lpd2ZqZ2tsbnZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjgyNjE3NzMsImV4cCI6MjA0MzgzNzc3M30.8-YlXqSXsYoPTaDlHMpTdqLxfvm89-8zk2HG2MCABRI";
    window.ccSupaClient = supabase.createClient(
      SUPABASE_URL,
      SUPABASE_ANON_KEY
    );
  } catch (e) {
    alert(
      "Error Initializing. Please refresh. If this error persists, try a different domain." +
        "\n\n" +
        e.stack
    );
    console.log(e);
  }
</script>

<!-- large.js -->
<script src="/assets/scripts/helpers.js?i=8"></script>
<script src="/assets/scripts/large.js?i=7"></script>
<script src="/assets/scripts/stateHandler.js?i=6"></script>

<!-- external (gtag) -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-DJDL65P9Y4"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-DJDL65P9Y4");
  window.gtag = gtag;
</script>
