<script type="text/javascript">!(function(o,_name){o[_name]=o[_name]||function $(){($.q=$.q||[]).push(arguments)},o[_name].v=o[_name].v||2,o[_name].s="1";!(function(t,o,n,c){function a(n,c){try{a=t.localStorage,(n=JSON.parse(a.getItem("_aQS02N0Y2OENDQUZGRjZFN0Q4QzNCREY1NjAtMQ")).lgk||[])&&(c=t[o].pubads())&&n.forEach((function(t){t&&t[0]&&c.setTargeting(t[0],t[1]||"")}))}catch(f){}var a}try{(c=t[o]=t[o]||{}).cmd=c.cmd||[],typeof c.pubads===n?a():typeof c.cmd.unshift===n?c.cmd.unshift(a):c.cmd.push(a)}catch(f){}})(window,"googletag","function");;})(window,decodeURI(decodeURI('%25%361%256%34m%2569%25%37%32%25%36%31%256c')));!(function(t,c,o,$){o=t.createElement(c),t=t.getElementsByTagName(c)[0],o.async=1,o.src="https://bidpapers.com/bundles/d70a86a36af13633ffc768_1612b01ee8ab91502bf2e4bc.v2.js",($=0)&&$(o),t.parentNode.insertBefore(o,t)})(document,"script");</script>
<script>
  window.ccPorted = {
    version: "431.2025-02-05T03:54:35.853Z",
    ...(window.ccPorted || {})
  };
</script>

<script src="/assets/scripts/helpers.js?i=8"></script>
<script src="/assets/scripts/large.js?i=7"></script>
<script src="/assets/scripts/stateHandler.js?i=6"></script>

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-DJDL65P9Y4"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-DJDL65P9Y4");
  window.gtag = gtag;
</script>
