<div class = "cc lightDarkToggle">
    <input type="checkbox" class="cc checkbox" id="checkbox">
    <label for="checkbox" class="cc checkbox-label">
        <i class="cc fas fa-moon"></i>
        <i class="cc fas fa-sun"></i>
        <span class="cc ball"></span>
    </label>
</div>

<script src = "/assets/scripts/lightDarkToggle.js"></script>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
  kofiWidgetOverlay.draw('ccported', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#323842',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>
