<header>
    <h1>CC Ported</h1>
    <div class="r-side-nav">
        <a href="https://docs.google.com/document/d/11yw7n2F84XOkAwpM8tF-ZYHESuus1Gg7dmJ-WJum1fk" target="_blank">Master Doc</a>
        <a href="https://discord.gg/4nURBJmUJY">Discord</a>
        <a href="/roms/" id="romLinks">Rom Library</a>
        <a href="/status/">Status</a>
        <a href="/chat/">Chat</a>
        <div id="loggedInReplacable">
            <a href="/login/">Login</a>
            <a href="/signup/">Signup</a>
        </div>
    </div>
</header>