:root{
    --glow-color: gold;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.subContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    text-align: center;
    color: #333;
    background-color: #fff;
    margin: 0;
    font-size: 48px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 8888;
    top: 0;
}
header.shadow{
    box-shadow: 0px 0px 10px #333;

}
.container{
    margin-top: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 75%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* min-height: 50vh; */
}
.cards.loading{
    background-image: url('../images/loading.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.card.loading{
    display: none;
}

.card {
    width: 500px;
    height: 325px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.card-bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    transition: all 0.3s ease;
}
.card:hover .card-bg {
    filter: brightness(0.4);
}
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    z-index: 7777;
    justify-content: space-between;
}
.card-title {
    font-size: 28px;
    margin: 0;
}
.card-description {
    font-size: 20px;
    margin: 10px 0;
}
.card-links {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.card:hover .card-links {
    max-height: 100px;
}
.card-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-top: 5px;
}
.card-links a:visited {
    color: #fff;
}
.card-links a:hover {
    text-decoration: underline;
}
.card-tags .tag{
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
}
#searchBox{
    width: 300px;
    height: 30px;
    border-radius: 2px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#searchBox:focus{
    outline: none;
    border: 1px solid dodgerblue;
}
a{
    text-decoration: none;
    color: dodgerblue;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: dodgerblue;
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.popup-content{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup-content #gameRequestInput{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #333;
    padding: 5px;
    font-size: 16px;
}
.popup-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.popup-buttons button#nvmd{
    background-color: red;
    border: 1px solid red;
}
.popup-buttons button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    color: #fff;
    border: 1px solid dodgerblue;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition: 500ms;
}
.popup-buttons button:hover{
    filter: brightness(0.5);
    transition: 500ms;
}
.new{
    order: -1;
    /* add a glowing gold shadow effect */
    box-shadow: 0 0 20px var(--glow-color);
    animation: glowing 1300ms infinite;
    border: 5px solid var(--glow-color);
    box-sizing: border-box;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 20px var(--glow-color);
    }
    50% {
        box-shadow: 0 0 40px var(--glow-color);
    }
    100% {
        box-shadow: 0 0 20px var(--glow-color);
    }
}

/* input.has_content added to show small "x" to clear input */
input.has-content {
    background-image: url('../images/close.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}
.highlight {
    box-shadow: inset 0px 0px 5px 4px var(--glow-color);
    box-sizing: border-box;
    display: block;
    width: fit-content;
}
button#sort{
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    align-self: flex-end;
}
